@import '../../../assets/styles/helpers/variables';
@import '../../../assets/styles/helpers/mixins';

.modal {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  height: min-content;
  background-color: $base-white;
  border-radius: 20px;
  min-width: 300px;
  box-shadow: 5px 5px 20px -3px rgb(34 60 80 / 24%);
}

.modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
