@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.layout {
  height: 100vh;
  overflow: hidden;
}

main {
  max-height: 100%;
}

.chat-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.chat-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $secondary-grey;
  border-right: 1px solid rgba($base-grey, 0.5);
}

.chat-sidebar__header {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($base-grey, 0.5);

  &-link {
    margin-left: auto;
  }

  &-input {
    margin-top: 10px;
  }

}

.chat-list-wrapper {
  flex-grow: 1;
  overflow: auto;

  @include custom-scrollbar;
}

.chat-body {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($base-grey, 0.5);
  }

  &__content {
    overflow: auto;
    flex-grow: 1;
    padding: 20px 0;

    @include custom-scrollbar;
  }

  &__footer {
    padding-top: 15px;
    border-top: 1px solid rgba($base-grey, 0.5);
  }
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;

  &__avatar {
    width: 50px;
  }

}


