@import "helpers/variables";
@import "helpers/mixins";

@import '../layouts/layouts';


@import '../components/components';
@import '../pages/pages';


main {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
