<div class="form {{class}}">
    <span class="form__title">{{title}}</span>
    <div class="form__fields">
        {{> fields}}
    </div>
    <div class="form__footer">
        {{> footer}}
    </div>
</div>
